/*====================================*/
/*       Configurações de Seção       */
/*====================================*/
div.content{
  padding:            20px;
}
div.img-perfil{
  margin:            1%;
}

/*------------*/
/*   header   */
/*------------*/
  header{
    display:            flex; /* 'flex-box', 'grid-display' e 'display-grid' serve para posicionar os elementos*/
    align-items:        center;
    flex-direction:     column;
    
  }
  header ul{
    text-transform:     uppercase; /* transforma o texto em maiúcula ou minuscula */
  }
  header nav li {
    color:              white;
    text-align:         center;
    width:              162px;
    padding:            10px 50px;
    display:            inline-block; /* alinha a lista na mesma linha */
  }
  header nav li:hover{
    color:              rgb(0, 0, 0);
    font-weight:        bold;
    background-color:   rgb(255, 255, 255);
    transition:         0.6s;
  } 

div.perfil-nome,
div.redes-img,
div.navigation{
  align-items:        center;
}
main,
div.perfil-nome,
div.redes-img
{
  display:            flex;
}
div.perfil-nome{
  justify-content:    center;
}
div.navigation{
  padding:            5px;
  border-top:         2px solid white;
}
div.curio-text,
div.redes,
div.learning-img{
  padding-bottom:     20px;
  padding-top:        2%;
}

div.learning-img{
  display:            flex;
}
  
  
/*====================================*/
/* Cor de fundo, títulos e parágrafos */
/*====================================*/
body{
  padding:            20px;
  background-image:   radial-gradient(rgb(47, 145, 197), rgb(1, 11, 100));
  font-family:        'Barlow', sans-serif;
  color:              white;
}
  header h1{ 
    padding-bottom:     0px;
    font-size:          370%;
    font-family:        'coolvetica', Times, serif, sans-serif;
    font-weight:        lighter;
    text-align:         center;
  }
  main h3{
    border-bottom:      1pt solid white;
    padding-bottom:     5px;
    color:              rgb(255, 255, 255);
  }
  main p.text{
    padding-bottom:     1%;
    text-align:         justify;
  }

  main figure{
    text-align:         center;
  }


/*====================================*/
/*      Configurações da imagem       */
/*====================================*/
img.profile{
  width:              10%;
  padding:            15px;
}
img.user{
  padding:            1%;
  width:              300px;
}
img.logo{
  max-width:          100px;
  padding:            5px;
  height:             100px;
}

/*Redes Sociais*/
  img.linkedin,
  img.github,
  img.gmail{
    width:              30px;
    padding:            6px;
    transition:         0.6s;
    background-color:   transparent;
    border-radius:      100%;
  }
  img.linkedin:hover,
  img.github:hover,
  img.gmail:hover{
    background-color:   rgba(255, 255, 255, 0.123);
    border-radius:      90%;
  }

/*====================================*/
/*               Fontes               */
/*====================================*/
@font-face {
  font-family:          'Barlow';
  src:                  url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf);
}
@font-face {
  font-family:          'coolvetica';
  src:                  url(../fonts/coolvetica/coolvetica\ rg.otf);
}